<section data-ng-controller="HomeController">
	<div class = "row" data-ng-hide="!authentication.user" data-ng-hide="authentication.user.roles == 'inactive'">
		<div class = "col-md-8 col-md-offset-2">
			<h3>Tickets Assigned To Me</h3>

			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

						<input type="text" class="form-control" placeholder="Search Issues" ng-model="searchIssues">

					</div>
				</div>
			</form>

			<form class="form-inline">
				<div class="form-group">
					<div class="input-group">

						<!--<div class="checkbox" ng-repeat="checkBox in checkBoxes">-->
							<!--<label>-->
								<!--<input type="checkbox" ng-model="query.checkBox.type"> {{checkBox.type}}-->
							<!--</label>-->
						<!--</div>-->

						<!--<label>-->
							<!--<input type="checkbox" ng-model="design" ng-true-value="Design" ng-false-value="!Design"> Design-->
						<!--</label>-->

						<!--<label>-->
							<!--<input type="checkbox" ng-model="analysis" ng-true-value="Analysis" ng-false-value="!Analysis"> Analysis-->
						<!--</label>-->

						<!--<label>-->
							<!--<input type="checkbox" ng-model="coding" ng-true-value="Coding" ng-false-value="!Coding"> Coding-->
						<!--</label>-->

						<!--<label>-->
							<!--<input type="checkbox" ng-model="testing" ng-true-value="Testing" ng-false-value="!Testing"> Testing-->
						<!--</label>-->

						<!--<label>-->
							<!--<input type="checkbox" ng-model="documentation" ng-true-value="Documentation" ng-false-value="!Documentation"> Documentation-->
						<!--</label>-->

					</div>
				</div>
			</form>


			<div data-ng-repeat="issue in issues | filter:searchIssues | filter:design | filter:analysis | filter:testing | filter:coding | filter:documentation" data-ng-hide="issue.status == 'Closed'">
				<div class="panel" ng-class="{'panel-primary': issue.issueType == 'Coding', 'panel-success': issue.issueType == 'Testing', 'panel-info': issue.issueType == 'Documentation', 'panel-warning': issue.issueType == 'Analysis', 'panel-default': issue.issueType == 'Design', 'panel-danger': issue.issueType == 'Bug'}">
					<div class="panel-heading">
						<a class="ticket-link" data-ng-href="#!/issues/{{issue._id}}">
							<h3 class="panel-title"><strong>{{issue.name}}</strong></h3>
						</a>
					</div>
					<div class="panel-body">
						<strong class="">Type:</strong> <span class="">{{issue.issueType}}</span>
						<br/>
						<strong class="">Summary:</strong> <span class="">{{issue.summary}}</span>
						<br/>
						<strong class="">Priority:</strong> <span class="">{{issue.priority}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
