<section class="row" data-ng-controller="AuthenticationController">

	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
		<h3 class="text-center">Login</h3>
		<form data-ng-submit="signin()" name="signinForm" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-user"></i>
					</span>
						<input type="text" ng-maxLength="30" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
					<p ng-show="signinForm.username.$error.maxlength" class="help-block">Username is too long.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-asterisk"></i>
					</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>
				</br>
				</br>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-large  btn-block">Sign in</button>

				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>&nbsp; or &nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>

			</fieldset>
		</form>
	</div>
</section>
