.project-bg{
    background-color: white;
    border: 5px solid;
    border-radius: 5px;
    border-color: white;
    margin-top: 20px;
    margin-right: 5px;
}

.budget-body{
    margin-top: 20px;
}
