<section data-ng-controller="ViewIssueController">


	<div class="modal-header">
		<h3 class="modal-title">Log Work</h3>
	</div>

	<div class="modal-body">

		<div class="row">
			<div class="col-md-12">

				<form name="columnForm" class="form-horizontal" novalidate>

					<div class="row">
						<div class="col-md-12">

							<fieldset>


								<div class="form-group">
									<label class="control-label col-sm-2" for="project">Project</label>
									<div class="control col-sm-10">
										<select data-ng-model="projectIssue.project._id" id="project"  ng-options="project._id as project.name for project in projects">
										</select>
									</div>
								</div>

								<div data-ng-show="error" class="text-danger">
									<strong data-ng-bind="error"></strong>
								</div>


							</fieldset>

						</div>
					</div>

				</form>

			</div>
		</div>


	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(projectIssue, project) ">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>


</section>



