<section data-ng-controller="ViewIssueController">


	<div class="modal-header">
		<h3 class="modal-title">Log Work</h3>
	</div>

	<div class="modal-body">




		<div class="row">
			<div class="col-md-12">

				<form name="columnForm" class="form-horizontal" novalidate>

					<div class="row">
						<div class="col-md-12">

							<fieldset>

								<div class="col-md-12" data-ng-show="authentication.user.roles == 'member' || authentication.user.roles == 'viewer'">
									<div class="form-group">
										<label class="control-label col-sm-4" for="assignee2">Assign To</label>
										<div class="control col-sm-8">
											<select data-ng-model="assigneeIssue.assignee._id" id="assignee2"  ng-options="assignee._id as assignee.displayName for assignee in userList">
											</select>
										</div>
									</div>
								</div>


								<div class="col-md-12" data-ng-show="authentication.user.roles == 'admin' || authentication.user.roles == 'manager'">
									<div class="form-group">
										<label class="control-label col-sm-4" for="assignee">Assign To</label>
										<div class="control col-sm-8">
											<select data-ng-model="assigneeIssue.assignee._id" id="assignee"  ng-options="assignee._id as assignee.displayName for assignee in listUsers">
											</select>
										</div>
									</div>
								</div>

								<!--<div class="col-md-12">-->
									<!--<div class="form-group">-->
										<!--<label class="control-label col-sm-4" for="log">Log Work</label>-->
										<!--<div class="control col-sm-4">-->
											<!--<input type="number" data-ng-model="log" id="log" class="form-control" placeholder="Log" required>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

								<div clas=row>
									<div class="col-md-12">
										<form class="form-horizontal" name="createCommentForm" novalidate>
											<fieldset>
												<div class="form-group">
													<div class="control col-sm-10">
														<textarea data-ng-model="newComment" rows="5" id="comment" class="form-control" placeholder="Comment" required> </textarea>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>

								<div data-ng-show="error" class="text-danger">
									<strong data-ng-bind="error"></strong>
								</div>


							</fieldset>

						</div>
					</div>

				</form>

			</div>
		</div>


	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(assigneeIssue, newComment); ">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>


</section>



