<section data-ng-controller="EditIssueController" data-ng-init="findOne()">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 login-form-bg ">
        <h3 class="col-sm-offset-1">Edit Issue: {{issue.name}}</h3>

        <form class="form-horizontal" name="editIssueForm" data-ng-submit="update(editIssueForm.$valid)" novalidate>
            <fieldset>
                <!--<div class="form-group">-->
                    <!--<label class="control-label col-sm-2" for="project">Project</label>-->
                    <!--<div class="control col-sm-10">-->
                        <!--<select data-ng-model="projectIssue.project._id" id="project"  ng-options="project as project.name for project in projects"></select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-sm-2">Issue Type</label>
                    <div class="col-sm-10">
                        <select ng-model="issue.issueType"  ng-options="issue as issue for issue in typeArray">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="summary">Summary</label>
                    <div class="control col-sm-10">
                        <input type="text" ng-maxLength="60" data-ng-model="issue.summary" id="summary" name="summary" class="form-control" placeholder="Summary" required>
                        <p ng-show="editIssueForm.summary.$error.maxlength" class="help-block">Summary is too long.</p>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="priority">Priority</label>
                    <div class="control col-sm-10">
                        <select ng-model="issue.priority" id="priority"  ng-options="priority as priority for priority in priorityArray"></select>
                    </div>
                </div>

                <!--<div class="form-group" data-ng-show="authentication.user.roles == 'admin' || authentication.user.roles == 'manager'">-->
                    <!--<label class="control-label col-sm-2" for="assignee">Assignee</label>-->
                    <!--<div class="control col-sm-10">-->
                        <!--<select data-ng-model="selectedAssignee" id="assignee"  ng-options="assignee._id as assignee.displayName for assignee in listUsers">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group" data-ng-show="authentication.user.roles == 'member' || authentication.user.roles == 'viewer'">-->
                    <!--<label class="control-label col-sm-2" for="assignee2">Assignee</label>-->
                    <!--<div class="control col-sm-10">-->
                        <!--<select data-ng-model="assigneeIssue.assignee._id" id="assignee2"  ng-options="assignee._id as assignee.displayName for assignee in userList">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="control-label col-sm-2" for="reporter">Reporter</label>
                    <div class="control col-sm-10">
                        <input type="text" data-ng-model="authentication.user.displayName" id="reporter" class="form-control" placeholder="Reporter" readonly>
                        <!--<span>{{authentication.user.displayName}}</span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description</label>
                    <div class="control col-sm-10">
                        <textarea data-ng-model="issue.description" rows="10" id="description" class="form-control" placeholder="Description" required> </textarea>
                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-2" for="attachment">Attachment</label>-->
                <!--<div class="control col-sm-10 upload">-->

                <!--<div class="text-center">-->
                <!--<input data-ng-model="attachment" type="file" title="Upload" class="btn btn-default" multiple="multiple">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="control-label col-sm-2" for="estimate">Estimate</label>
                    <div class="control col-sm-4 input-group">
                        <input type="number" ng-maxLength="2" data-ng-model="issue.estimate" id="estimate" name="estimate" class="form-control" placeholder="Estimate" required>
                        <span class="input-group-addon">Hours</span>

                    </div>
                    <p ng-show="editIssueForm.estimate.$error.maxlength" class="help-block">Hours is too many.</p>
                </div>

                <div class="form-group pull-right">
                    <input type="submit" ng-disabled="editIssueForm.$invalid" value="Update"  class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>

    </div>
</section>
