<section data-ng-controller="ListIssueController" data-ng-init="find()">

    <h3>Issues</h3>

    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search Issues" ng-model="searchIssues">

                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">

                <thead>

                <tr>
                    <td class="col-sm-5">
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
                        </a>
                    </td>

                    <td class="col-sm-1">
                        <a href="#" ng-click="sortType = 'estimate'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'estimate'" class="fa fa-caret-down"></span>
                            Estimate
                        </a>
                    </td>

                    <td class="col-sm-6">
                        <a href="#" ng-click="sortType = 'summary'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'summary'" class="fa fa-caret-down"></span>
                            Summary
                        </a>
                    </td>

                </tr>

                </thead>

                <tbody>
                <tr ng-repeat="issue in issues | filter:searchIssues">
                    <td>
                        <a data-ng-href="#!/issues/{{issue._id}}">
                            {{issue.name }}
                        </a>
                    </td>
                    <td>{{ issue.estimate }}</td>
                    <td>{{ issue.summary }}</td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>

</section>


<!--<div class="page-header">-->
    <!--<h1>Issues</h1>-->
<!--</div>-->
<!--<div class="list-group">-->
    <!--<a data-ng-repeat="issue in issues" data-ng-href="#!/issues/{{issue._id}}" class="list-group-item">-->
        <!--<small class="list-group-item-text">-->
            <!--Posted on-->
            <!--<span data-ng-bind="issue.created | date:'medium'"></span>-->
            <!--by-->
            <!--<span data-ng-bind="issue.user.displayName"></span>-->
        <!--</small>-->
        <!--<h4 class="list-group-item-heading" data-ng-bind="issue.name"></h4>-->
    <!--</a>-->
<!--</div>-->
<!--<div class="alert alert-warning text-center" data-ng-hide="!issues.$resolved || issues.length">-->
    <!--No Issues yet, why don't you <a href="/#!/issues/create">create one</a>?-->
<!--</div>-->
