<section data-ng-controller="ViewIssueController" data-ng-init="findOne(); findComments();">

	<div class="row move-issue">

		<div class="pull-right">
			<a class="btn btn-primary" href="/#!/issues/{{issue._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<!--<a class="btn btn-primary" data-ng-click="remove();">-->
				<!--<i class="glyphicon glyphicon-trash"></i>-->
			<!--</a>-->
		</div>

		<p class="lead">
			Ticket Is in
			<span class="btn btn-default" data-ng-bind="currentColumn"></span>
			<span data-ng-if="checkColumns() == false">Move it to <span data-ng-click="moveIssue()" data-ng-bind="nextColumn" class="btn btn-primary"></span>
			</span>

		</p>



	</div>



	<div class="row login-form-bg issue-form-bg">

		<div class="col-md-6 verticalLine">

			<form class="form-horizontal" name="createProjectForm" data-ng-submit="create()" novalidate>

					<h3>Issue: {{issue.name}}</h3>

					<fieldset>
						<div class="form-group">
							<label class="control-label col-sm-2" for="project">Project</label>
							<div class="control col-sm-10">
								<select data-ng-model="projectIssue.project._id" id="project"  ng-options="project._id as project.name for project in projects">
								</select>
							</div>
						</div>

						<!--<div class="form-group">-->
							<!--<label class="control-label col-sm-2">Change Project</label>-->
							<!--<div class="control col-sm-4 input-group">-->
								<!--<button data-ng-click="changeProject()" class="btn btn-default" type="button">Change Project</button>-->
							<!--</div>-->
						<!--</div>-->

						<div class="form-group">
							<label class="control-label col-sm-2">Type</label>
							<div class="control col-sm-10">
								<select ng-init="somethingHere = issue.issueType" ng-model="issue.issueType"  ng-options="issue as issue for issue in typeArray">
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="summary">Summary</label>
							<div class="control col-sm-10">
								<input type="text" data-ng-model="issue.summary" id="summary" class="form-control" placeholder="Summary" required>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="priority">Priority</label>
							<div class="control col-sm-10">
								<select ng-model="issue.priority" id="priority"  ng-options="priority as priority for priority in priorityArray"></select>
							</div>
						</div>



						<div class="form-group">
							<label class="control-label col-sm-2" for="description">Description</label>
							<div class="control col-sm-10">
								<textarea data-ng-model="issue.description" rows="10" id="description" class="form-control" placeholder="Description" required> </textarea>
							</div>
						</div>

						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>

					</fieldset>
				</form>

			</div>


		<div class="col-md-5 col-md-offset-1 issue-sidebar">

			<form class="form-horizontal" name="createProjectForm" data-ng-submit="create()" novalidate>
				<fieldset>

			<div class="form-group">
				<label class="control-label col-sm-2" for="assignee">Assignee</label>
					<div class="control col-sm-10 input-group">
						<select data-ng-model="assigneeIssue.assignee._id" id="assignee"  ng-options="assignee._id as assignee.displayName for assignee in listUsers">
						</select>
					</div>
			</div>

					<div class="form-group">
						<label class="control-label col-sm-2">Change Assignee</label>
						<div class="control col-sm-4 input-group">
							<button data-ng-click="changeAssignee()" class="btn btn-default" type="button">Change Assignee</button>
						</div>
					</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="reporter">Reporter</label>
				<div class="control col-sm-4 input-group">
					<input type="text" data-ng-model="authentication.user.displayName" id="reporter" class="form-control" placeholder="Reporter" readonly>
					<!--<span>{{authentication.user.displayName}}</span>-->
				</div>
			</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="estimate">Original Estimate</label>
						<div class="control col-sm-4 input-group">
							<input type="number" data-ng-model="issue.estimate" id="estimate" class="form-control" placeholder="Estimate" readonly>
							<span class="input-group-addon">Hours</span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="estimate">Logged Work</label>
						<div class="control col-sm-4 input-group">
							<input type="number" data-ng-model="logTotal" id="logged" class="form-control" placeholder="Estimate" readonly>
							<span class="input-group-addon">Logged</span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">Log Work</label>
						<div class="control col-sm-4 input-group">
								<button data-ng-click="logWork()" class="btn btn-default" type="button">Log Work</button>
						</div>
					</div>



					<!--<div class="progress">-->
						<!--<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">-->
							<!--<span class="sr-only">60% Complete</span>-->
						<!--</div>-->
					<!--</div>-->

				</fieldset>
			</form>

		</div>
	</div>

	<hr>

	<div clas=row>



		<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">

			<h3>Comments</h3>

			<div class="list-group">
				<div data-ng-repeat="comment in commentsArray" data-ng-href="#!/issues/{{issue._id}}" class="list-group-item">
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="comment.created | date:'medium'"></span>
						by
						<span data-ng-bind="comment.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="comment.comment"></h4>
				</div>
			</div>

		</div>

		<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
			<form class="form-horizontal" name="createCommentForm" data-ng-submit="addComment()" novalidate>
				<fieldset>
					<div class="form-group">
						<div class="control col-sm-10">
							<textarea data-ng-model="comment" rows="5" id="comment" class="form-control" placeholder="Comment" required> </textarea>
						</div>
					</div>

					<div class="">
						<input data-ng-show="comment" type="submit" value="Comment" class="btn btn-default">
					</div>
				</fieldset>
			</form>
		</div>
	</div>

</section>

