.board{
    position: absolute;
    /*overflow-y: hidden;*/
    /*overflow-x: scroll;*/
    whitespace: nowrap;
    width: 100%;
}

.column{
    background-color: white;
    border-radius: 5px;
    border-color: white;
    margin-left: 10px;
    width: 300px;
    display: inline-block;
}



.ticket{
    margin-bottom: 10px;
    width: 260px;
}

.bin {
    min-height: 370px;
    float: none;
    padding: 20px;

}
.item {
    min-width: 150px;
}

.theticket{
    display: table-row;
}

.drag {
    opacity: 0.5;
}
.over {
    border: dotted #717171 2px;
}

.overflow-wrapper{
    position: absolute;
    width: 100%;
    height: 540px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.scroll-horizontal{
    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/
    white-space:nowrap;
}

.no-line-breaks{

}

.width-auto{
    width:auto;
}

.inline-block{
    display: inline-block;
}

.ticket-link{
    color: #232222;
}
