<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-star"></i>
					</span>
						<input type="text" ng-maxLength="20" ng-pattern="/^[a-zA-Z]+$/" required id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
					</div>
					<p ng-show="userForm.firstName.$error.maxlength" class="help-block">First Name is too long.</p>
					<p ng-show="userForm.firstName.$error.pattern" class="help-block">First Name should contain only letters.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-star"></i>
					</span>
						<input type="text" ng-maxLength="20" ng-pattern="/^[a-zA-Z]+$/" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
					</div>
					<p ng-show="userForm.lastName.$error.maxlength" class="help-block">Last Name is too long.</p>
					<p ng-show="userForm.lastName.$error.pattern" class="help-block">Last Name should contain only letters.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-envelope"></i>
					</span>
						<input type="email"  ng-maxLength="50" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
					</div>
					<p ng-show="userForm.email.$error.maxlength" class="help-block">Email is too long.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-user"></i>
					</span>
						<input type="text" ng-maxLength="30" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Admin Username">
					</div>
					<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
				</div>

				<div class="text-center form-group">
					<button type="submit" ng-disabled="userForm.$invalid" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
