<section data-ng-controller="CreateUserController">

	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg ">
		<h3 class="text-center">Create User</h3>
		<form name="userForm" data-ng-submit="create(userForm.$valid)"  class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>

				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class = "alert alert-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-star"></i>
					</span>
						<input type="text" ng-maxLength="20" ng-pattern="/^[a-zA-Z]+$/" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
					</div>
					<p ng-show="userForm.firstName.$error.maxlength" class="help-block">First Name is too long.</p>
					<p ng-show="userForm.firstName.$error.pattern" class="help-block">First Name should contain only letters.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-star"></i>
					</span>
						<input type="text" ng-maxLength="20" ng-pattern="/^[a-zA-Z]+$/" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
					</div>
					<p ng-show="userForm.lastName.$error.maxlength" class="help-block">Last Name is too long.</p>
					<p ng-show="userForm.lastName.$error.pattern" class="help-block">Last Name should contain only letters.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-envelope"></i>
					</span>
						<input type="email"  ng-maxLength="50" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
					<p ng-show="userForm.email.$error.maxlength" class="help-block">Email is too long.</p>
				</div>

				<div class="form-group">
					<div class="input-group">

						<label class="">Role</label> &nbsp;

						<select ng-model="credentials.roles"  ng-options="role as role for role in rolesArray"></select>

					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-user"></i>
					</span>
						<input type="text" ng-maxLength="30" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Admin Username">
					</div>
					<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
				</div>

				<div class="form-group">
					<div class="input-group">
					<span class="input-group-addon">
						<i class="text-muted glyphicon glyphicon-asterisk"></i>
					</span>
						<input type="password" ng-minLength="6"  ng-maxLength="40" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
					<p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p>
					<p ng-show="userForm.password.$error.minlength" class="help-block">Password should be longer that 6 characters.</p>
				</div>

				<div class="text-center form-group">
					<button type="submit" ng-click="credentials.company = user.company" ng-disabled="userForm.$invalid" class="btn btn-large btn-primary btn-lg btn-block">Create</button>
				</div>

				<div data-ng-show="success" class="text-center text-success">
					<strong data-ng-bind="success"></strong>
				</div>

			</fieldset>
		</form>
	</div>
</section>
