<section data-ng-controller="ListUserController" data-ng-init="find()">
	<div class="page-header">
		<h1>Users</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="user in list_users" data-ng-click="show(user._id)" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="user.displayName"></h4>
		</a>
	</div>
	<div class="alert alert-warning text-center">
		<a href="/#!/create-user">create user</a>?
	</div>
</section>



