<section data-ng-controller="ViewUserController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 jumbotron">
			<h3>Name: {{view_user.displayName}}</h3>
			<h3>Email:   {{view_user.email}}</h3>
			<h3>Joined:   {{view_user.created | date: 'mediumDate'}}</h3>
			<button ng-click="deactivateUser()" class="btn btn-default pull-right">Deactivate User</button>
			<a href="/#!/list-user" class="btn btn-default pull-right">Back to Users</a>
			<div data-ng-show="success">
				<div>
					<p class="lead text-success">{{success}}</p>
				</div>
			</div>
		</div>

	</div>
</section>
