<section data-ng-controller="BudgetController">


	<div class="page-header">
		<a href="/#!/projects/{{project._id}}">
			<h1 data-ng-bind="project.name"></h1>
		</a>
	</div>




	<div class="row">

		<div class="col-lg-6 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Initial Budget Allocation</h3>
				</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-pie" data="data"
							labels="labels" legend="true"></canvas>

					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								Stage
							</td>
							<td>
								Cost
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="(key, value) in totals">
							<td>{{ key }}</td>
							<td>{{ value | currency : 'KSH '}}</td>
						</tr>
						</tbody>

					</table>

				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Current Budget Spending</h3>
				</div>
				<div class="panel-body">
					<canvas id="pie3" class="chart chart-pie" data="budgetValue"
							labels="budgetLabel" legend="true"></canvas>

					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								Stage
							</td>
							<td>
								Cost
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="(key, value) in budgetObj">
							<td>{{ key }}</td>
							<td>{{ value | currency : 'KSH '}}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>



	</div>

	<hr/>

	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Budget Spending For Last 7 Days</h3>
				</div>
				<div class="panel-body">
					<canvas id="pie4" class="chart chart-pie" data="budgetValueDate7"
							labels="budgetLabelDate7" legend="true"></canvas>

					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								Stage
							</td>
							<td>
								Cost
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="(key, value) in budgetObjDate7">
							<td>{{ key }}</td>
							<td>{{ value | currency : 'KSH '}}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Budget Spending For Last 30 Days</h3>
				</div>
				<div class="panel-body">
					<canvas id="pie2" class="chart chart-pie" data="budgetValueDate30"
							labels="budgetLabelDate30" legend="true"></canvas>

					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								Stage
							</td>
							<td>
								Cost
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="(key, value) in budgetObjDate30">
							<td>{{ key }}</td>
							<td>{{ value | currency : 'KSH '}}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>

	</div>

	<hr/>

	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">

					<h3>Budget by Day</h3>

					<div class="row">
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" ng-change="costToday(dt)" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="'2014-1-1'" max-date="'2100-1-1'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
							</p>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<!--<canvas id="pie5" class="chart chart-pie" data="budgetValueToday"-->
							<!--labels="budgetLabelToday" legend="true"></canvas>-->

					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								Stage
							</td>
							<td>
								Cost
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="(key, value) in budgetObjToday">
							<td>{{ key }}</td>
							<td>{{ value | currency : 'KSH '}}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>


</section>
