<section data-ng-controller="ProjectsCreateController as projectsCtrl">


    <div data-ng-show="authentication.user.roles === 'member' || authentication.user.roles === 'viewer'" class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 login-form-bg ">
        <h1>You can't create a project. You need to be an Administrator or a Manager</h1>
    </div>



    <div data-ng-show="authentication.user.roles == 'admin' || authentication.user.roles == 'manager'" class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 login-form-bg ">
        <h3 class="col-sm-offset-1">Create Project</h3>

        <form class="form-horizontal" name="createProjectForm" data-ng-submit="create(createProjectForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name</label>
                    <div class="control col-sm-10">
                        <input type="text" ng-maxLength="40" data-ng-model="name" id="name" name="name" class="form-control" placeholder="Name" required>
                        <p ng-show="createProjectForm.name.$error.maxlength" class="help-block">Project name is too long.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2">Project Lead</label>
                    <div class="col-sm-10">
                        <select ng-model="lead"  ng-options="user._id as user.displayName for user in users_list">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="dueDate">Due Date</label>
                    <div class="control col-sm-10">
                        <input type="date" data-ng-model="dueDate" id="dueDate" class="form-control" placeholder="Due Date" required>
                    </div>
                </div>

                <div class="form-group pull-right">
                    <input type="submit" ng-disabled="createProjectForm.$invalid" value="Next"  class="btn btn-default">
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>

    </div>

</section>
