<section data-ng-controller="ProjectsEditController as projectsCtrl" data-ng-init="findOne()">

    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 login-form-bg ">
        <h3 class="col-sm-offset-1">Edit {{project.name}} </h3>

        <form class="form-horizontal" name="createProjectForm" data-ng-submit="update(createProjectForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name</label>
                    <div class="control col-sm-10">
                        <input type="text" ng-maxLength="40" data-ng-model="project.name" id="name" name="name" class="form-control" placeholder="Name" required>
                        <p ng-show="createProjectForm.name.$error.maxlength" class="help-block">Project name is too long.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2">Project Lead</label>
                    <div class="col-sm-10">

                        <select ng-model="project.lead._id"  ng-options="user._id as user.displayName for user in users_list">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="dueDate">Due Date</label>
                    <div class="control col-sm-10">
                        <input type="date" data-ng-model="project.dueDate" id="dueDate" class="form-control" my-date required>
                    </div>
                </div>

                <div class="row">
                    <div class="col- xs-10">
                        <span class="col-xs-offset-1">Stage</span>
                        <span class="col-xs-offset-1">Hours</span>
                        <span class="col-xs-offset-1">Charge</span>
                        <span class="col-xs-offset-1">Total</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="analysisHours">Analysis</label>
                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="analysisCost()" data-ng-model="project.hours.analysis" id="analysisHours" name="analysisHours" class="form-control" required>
                        <p ng-show="createProjectForm.analysisHours.$error.maxlength" class="help-block">Hours is too long.</p>
                    </div>
                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="analysisCost()" data-ng-model="project.charge.analysis" id="analysisCharge" name="analysisCharge" class="form-control" required>
                        <p ng-show="createProjectForm.analysisCharge.$error.maxlength" class="help-block">Charge is too long.</p>
                    </div>
                    <div class="control col-sm-3">
                        <input type="number" data-ng-model="project.total.analysis" id="analysisTotal" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="designHours">Design</label>
                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="designCost()" data-ng-model="project.hours.design" id="designHours" name="designHours" class="form-control" required>
                        <p ng-show="createProjectForm.designHours.$error.maxlength" class="help-block">Hours is too long.</p>
                    </div>

                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="designCost()" data-ng-model="project.charge.design" id="designCharge" name="designCharge" class="form-control" required>
                        <p ng-show="createProjectForm.designCharge.$error.maxlength" class="help-block">Charge is too long.</p>
                    </div>

                    <div class="control col-sm-3">
                        <input type="number" data-ng-model="project.total.design" id="designTotal" class="form-control" required>
                    </div>

                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="codingHours">Coding</label>
                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="codingCost()" data-ng-model="project.hours.coding" id="codingHours" name="codingHours" class="form-control"  required>
                        <p ng-show="createProjectForm.codingHours.$error.maxlength" class="help-block">Hours is too long.</p>
                    </div>

                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="codingCost()" data-ng-model="project.charge.coding" id="codingCharge" name="codingCharge" class="form-control"  required>
                        <p ng-show="createProjectForm.codingCharge.$error.maxlength" class="help-block">Charge is too long.</p>
                    </div>

                    <div class="control col-sm-3">
                        <input type="number" data-ng-model="project.total.coding" id="codingTotal" class="form-control"  required>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="testingHours">Testing</label>
                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="testingCost()" data-ng-model="project.hours.testing" id="testingHours" name="testingHours" class="form-control"  required>
                        <p ng-show="createProjectForm.testingHours.$error.maxlength" class="help-block">Hours is too long.</p>
                    </div>

                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="testingCost()" data-ng-model="project.charge.testing" id="testingCharge" name="testingCharge" class="form-control"  required>
                        <p ng-show="createProjectForm.testingCharge.$error.maxlength" class="help-block">Charge is too long.</p>
                    </div>

                    <div class="control col-sm-3">
                        <input type="number" data-ng-model="project.total.testing" id="testingTotal" class="form-control"  required>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="documentationHours">Documentation</label>
                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="documentationCost()" data-ng-model="project.hours.documentation" id="documentationHours" name="documentationHours" class="form-control" required>
                        <p ng-show="createProjectForm.documentationHours.$error.maxlength" class="help-block">Hours is too long.</p>
                    </div>

                    <div class="control col-sm-2">
                        <input type="number" ng-maxLength="4" data-ng-change="documentationCost()" data-ng-model="project.charge.documentation" id="documentationCharge" name="documentationCharge" class="form-control" required>
                        <p ng-show="createProjectForm.documentationCharge.$error.maxlength" class="help-block">Charge is too long.</p>
                    </div>

                    <div class="control col-sm-3">
                        <input type="number" data-ng-model="project.total.documentation" id="documentationTotal" class="form-control" required>
                    </div>

                </div>

                <div class="form-group">

                </div>


                <div class="form-group pull-right">
                    <input type="submit" ng-disabled="createProjectForm.$invalid" value="Update"  class="btn btn-default">
                    <button class="btn btn-danger" ng-click="closeProject()">Close</button>
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <div data-ng-show="success" class="text-success">
                    <strong data-ng-bind="success"></strong>
                </div>

            </fieldset>
        </form>

    </div>
</section>
