<section data-ng-controller="ProjectsController as projectsCtrl">
    <div class="page-header">
        <h1>Projects</h1>
    </div>


    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search Projects" ng-model="searchProjects">

                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">

                <thead>

                <tr>
                    <td class="col-sm-5">
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
                        </a>
                    </td>

                    <td class="col-sm-1">
                        <a href="#" ng-click="sortType = 'estimate'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'estimate'" class="fa fa-caret-down"></span>
                            Created
                        </a>
                    </td>

                    <td class="col-sm-6">
                        <a href="#" ng-click="sortType = 'summary'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'summary'" class="fa fa-caret-down"></span>
                            Due Date
                        </a>
                    </td>

                </tr>

                </thead>

                <tbody>
                <tr ng-repeat="project in projectsCtrl.projects | filter:searchProjects">
                    <td>
                        <a data-ng-href="#!/projects/{{project._id}}">
                            {{ project.name }}
                        </a>
                    </td>
                    <td>{{ project.created | date:'mediumDate'}}</td>
                    <td>{{ project.dueDate | date:'mediumDate'}}</td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>

</section>


<!--<div class="list-group">-->
    <!--<a data-ng-repeat="project in projectsCtrl.projects" data-ng-href="#!/projects/{{project._id}}" class="list-group-item">-->
        <!--<small class="list-group-item-text">-->
            <!--Created on-->
            <!--<span data-ng-bind="project.created | date:'medium'"></span>-->
            <!--by-->
            <!--<span data-ng-bind="project.user.displayName"></span>-->
        <!--</small>-->
        <!--<h4 class="list-group-item-heading" data-ng-bind="project.name"></h4>-->
    <!--</a>-->
<!--</div>-->
<!--<div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">-->
    <!--No Projects yet, why don't you <a href="/#!/projects/create">create one</a>?-->
<!--</div>-->
