<section data-ng-controller="ProjectIssueController">



	<div class="container">

		<h3>Issues for: {{project.name}}</h3>

		<div class="row">
			<div class="col-md-12">

				<form>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

							<input type="text" class="form-control" placeholder="Search Issues" ng-model="searchIssues">

						</div>
					</div>
				</form>

				<table class="table table-bordered table-striped">

					<thead>

					<tr>
						<td class="col-sm-5">
							<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
								Name
								<span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
							</a>
						</td>

						<td class="col-sm-1">
							<a href="#" ng-click="sortType = 'estimate'; sortReverse = !sortReverse">
								<span ng-show="sortType == 'estimate'" class="fa fa-caret-down"></span>
								Estimate
							</a>
						</td>

						<td class="col-sm-6">
							<a href="#" ng-click="sortType = 'summary'; sortReverse = !sortReverse">
								<span ng-show="sortType == 'summary'" class="fa fa-caret-down"></span>
								Summary
							</a>
						</td>

					</tr>

					</thead>

					<tbody>
					<tr ng-repeat="projectIssue in projectArray | orderBy:sortType:sortReverse | filter:searchIssues">
						<td>
							<a data-ng-href="#!/issues/{{projectIssue.issue._id}}">
								{{ projectIssue.issue.name }}
							</a>
						</td>
						<td>{{ projectIssue.issue.estimate }}</td>
						<td>{{ projectIssue.issue.summary }}</td>
					</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div>





</section>
