<section data-ng-controller="ProjectCostController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 login-form-bg ">
		<h4 class="col-sm-offset-1">Calculate Project Cost</h4>

		<form class="form-horizontal" name="createProjectForm" data-ng-submit="update(createProjectForm.$valid)" novalidate>

			<div class="row">
				<div class="col- xs-10">
					<span class="col-xs-offset-1">Stage</span>
					<span class="col-xs-offset-1">Hours</span>
					<span class="col-xs-offset-1">Charge</span>
					<span class="col-xs-offset-1">Total</span>
				</div>
			</div>

			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2" for="analysisHours">Analysis</label>
					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="analysisCost()" data-ng-model="analysisHours" name="analysisHours" id="analysisHours" class="form-control" required>
						<p ng-show="createProjectForm.analysisHours.$error.maxlength" class="help-block">Hours is too long.</p>
					</div>
					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="analysisCost()" data-ng-model="analysisCharge" name="analysisCharge" id="analysisCharge" class="form-control" required>
						<p ng-show="createProjectForm.analysisCharge.$error.maxlength" class="help-block">Charge is too long.</p>
					</div>
					<div class="control col-sm-3">
						<input type="number" data-ng-model="analysisTotal" id="analysisTotal" class="form-control" disabled required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="designHours">Design</label>
					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="designCost()" data-ng-model="designHours" name="designHours" id="designHours" class="form-control" required>
						<p ng-show="createProjectForm.designHours.$error.maxlength" class="help-block">Hours is too long.</p>
					</div>

					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="designCost()" data-ng-model="designCharge" name="designCharge" id="designCharge" class="form-control" required>
						<p ng-show="createProjectForm.designCharge.$error.maxlength" class="help-block">Charge is too long.</p>
					</div>

					<div class="control col-sm-3">
						<input type="number" data-ng-model="designTotal" id="designTotal" class="form-control" disabled required>
					</div>

				</div>


				<div class="form-group">
					<label class="control-label col-sm-2" for="codingHours">Coding</label>
					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="codingCost()" data-ng-model="codingHours" name="codingHours" id="codingHours" class="form-control"  required>
						<p ng-show="createProjectForm.codingHours.$error.maxlength" class="help-block">Hours is too long.</p>
					</div>

					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="codingCost()" data-ng-model="codingCharge" name="codingCharge" id="codingCharge" class="form-control"  required>
						<p ng-show="createProjectForm.codingCharge.$error.maxlength" class="help-block">Charge is too long.</p>
					</div>

					<div class="control col-sm-3">
						<input type="number" data-ng-model="codingTotal" id="codingTotal" class="form-control" disabled  required>
					</div>

				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="testingHours">Testing</label>
					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="testingCost()" data-ng-model="testingHours" name="testingHours" id="testingHours" class="form-control"  required>
						<p ng-show="createProjectForm.testingHours.$error.maxlength" class="help-block">Hours is too long.</p>
					</div>

					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="testingCost()" data-ng-model="testingCharge" name="testingCharge" id="testingCharge" class="form-control"  required>
						<p ng-show="createProjectForm.testingCharge.$error.maxlength" class="help-block">Charge is too long.</p>
					</div>

					<div class="control col-sm-3">
						<input type="number" data-ng-model="testingTotal" id="testingTotal" class="form-control" disabled  required>
					</div>

				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="documentationHours">Documentation</label>
					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="documentationCost()" data-ng-model="documentationHours" name="documentationHours" id="documentationHours" class="form-control" required>
						<p ng-show="createProjectForm.documentationHours.$error.maxlength" class="help-block">Hours is too long.</p>
					</div>

					<div class="control col-sm-2">
						<input type="number" ng-maxLength="4" data-ng-change="documentationCost()" data-ng-model="documentationCharge" name="documentationCharge" id="documentationCharge" class="form-control" required>
						<p ng-show="createProjectForm.documentationCharge.$error.maxlength" class="help-block">Charge is too long.</p>
					</div>

					<div class="control col-sm-3">
						<input type="number" data-ng-model="documentationTotal" id="documentationTotal" class="form-control" disabled required>
					</div>

				</div>



				<div class="form-group pull-right">
					<input type="submit"  ng-disabled="createProjectForm.$invalid" ng-click="" value="Create"  class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</fieldset>
		</form>

	</div>

</section>
