<section data-ng-controller="ProjectsViewController as projectCtrl" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
	<div data-ng-show="authentication.user.roles == 'admin' || authentication.user.roles == 'manager'" class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<!--<a class="btn btn-primary" data-ng-click="remove();">-->
			<!--<i class="glyphicon glyphicon-trash"></i>-->
		<!--</a>-->
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="project.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="project.user.displayName"></span>
		</em>
	</small>


	<div class="row">
		<div class="col-md-2">
			<a class="col-md-12" href="/#!/projects/{{project._id}}/project-issues">
				Issues
			</a>

			<a class="col-md-12" data-ng-click="goToBoard()">
				Board
			</a>

			<a class="col-md-12" href="/#!/projects/{{project._id}}/work-logged">
				Work Logged
			</a>
		</div>

		<div class="col-md-10">

			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Project Information</h3>
						</div>
						<div class="panel-body">
							<div style="height: 270px;">
								<span class="lead">Project Name: {{project.name}}</span>
								<br/>
								<br/>
								<span class="lead">Created By: {{project.user.displayName}}</span>
								<br/>
								<br/>
								<span class="lead">Project Lead: {{project.lead.displayName}}</span>
								<br/>
								<br/>
								<span class="lead">Project DueDate: {{project.dueDate | date:'mediumDate'}}</span>
								<br/>
								<br/>
								<span class="lead">Created: {{project.created | date:'mediumDate'}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>
								<a href="/#!/projects/{{project._id}}/budget">Budget</a>
							</h3>
						</div>
						<div class="panel-body">

							<span>Initial Budget Allocation</span>

							<canvas id="pie" class="chart chart-pie" data="data"
									labels="labels" legend="true"></canvas>

						</div>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Project Progress</h3>
						</div>
						<div class="panel-body">
							<canvas id="progressDoughnut" class="chart chart-doughnut" data="progressData"
									labels="progressLabels" legend="true"></canvas>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Estimated Hours Vs. Actual Hours</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Estimated Hours</h3>
									</div>
									<div class="panel-body">
										<table class="table table-bordered table-striped">

											<thead>
											<tr>
												<td>
													Stage
												</td>
												<td>
													Hours
												</td>

											</tr>
											</thead>

											<tbody>
											<tr ng-repeat="(key, value) in hours">
												<td>{{ key }}</td>
												<td>{{ value }}</td>
											</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Actual Hours</h3>
									</div>
									<div class="panel-body">
										<table class="table table-bordered table-striped">

											<thead>
											<tr>
												<td>
													Stage
												</td>
												<td>
													Hours
												</td>

											</tr>
											</thead>

											<tbody>
											<tr ng-repeat="(key, value) in budgetHoursObj">
												<td>{{ key }}</td>
												<td>{{ value}}</td>
											</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


				<div class="col-lg-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Estimated Cost Vs. Actual Cost</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Estimated cost</h3>
										</div>
										<div class="panel-body">
											<table class="table table-bordered table-striped">

												<thead>
												<tr>
													<td>
														Stage
													</td>
													<td>
														Cost
													</td>

												</tr>
												</thead>

												<tbody>
												<tr ng-repeat="(key, value) in totals">
													<td>{{ key }}</td>
													<td>{{ value | currency : 'KSH '}}</td>
												</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Actual Cost</h3>
										</div>
										<div class="panel-body">
											<table class="table table-bordered table-striped">

												<thead>
												<tr>
													<td>
														Stage
													</td>
													<td>
														Cost
													</td>

												</tr>
												</thead>

												<tbody>
												<tr ng-repeat="(key, value) in budgetObj">
													<td>{{ key }}</td>
													<td>{{ value | currency : 'KSH '}}</td>
												</tr>
												</tbody>

											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--<hr />-->
			<!--<div class="row">-->
				<!--<div class="col-lg-6 col-md-6">-->
					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading">-->
							<!--<h3>Quarterly Sales</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<div id="performance3" style="height: 270px;"></div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-lg-6 col-md-6">-->
					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading">-->
							<!--<h3>Budget Stats</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<p>-->
								<!--The budget report is in par with the initial business plan. No deviations were detected.-->
								<!--Better funding is not guaranteed to have direct sales impact, unless further analysis is performed.-->
							<!--</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

		</div>
	</div>


</section>

