<section data-ng-controller="WorkLoggedController">

	<div class="page-header">
		<a data-ng-href="/#!/projects/{{project._id}}">
			<h1 data-ng-bind="project.name"></h1>
		</a>
	</div>

	<!--<div class="row">-->
		<!--<div class="col-lg-12 col-md-12">-->
			<!--<div class="panel panel-default">-->
				<!--<div class="panel-heading">-->

					<!--<div class="row">-->

						<!--<div class="col-md-6">-->
							<!--<h3 class="panel-title">Work Logged: Select Day</h3>-->
						<!--</div>-->

						<!--<div class="col-md-6">-->
							<!--<p class="input-group">-->
								<!--<input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-change="getWork(dt)" ng-model="dt" is-open="opened" min-date="'2013-1-1'" max-date="'2100-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />-->
								  <!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
								  <!--</span>-->
							<!--</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="panel-body">-->
					<!--<table class="table table-bordered table-striped">-->

						<!--<thead>-->
						<!--<tr>-->
							<!--<td>-->
								<!--User-->
							<!--</td>-->
							<!--<td>-->
								<!--Hours-->
							<!--</td>-->

						<!--</tr>-->
						<!--</thead>-->

						<!--<tbody>-->
						<!--<tr ng-repeat="log in loggedWorkDay">-->
							<!--<td>{{ log.user.displayName }}</td>-->
							<!--<td>{{ log.hours }}</td>-->
						<!--</tr>-->
						<!--</tbody>-->

					<!--</table>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Work Logged Today</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">

					<thead>
					<tr>
						<td>
							User
						</td>
						<td>
							Hours
						</td>

					</tr>
					</thead>

					<tbody>
					<tr ng-repeat="log in loggedWorkToday">
						<td>{{ log.user.displayName }}</td>
						<td>{{ log.hours }}</td>
					</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>


	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Work Logged Last Seven Days</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								User
							</td>
							<td>
								Hours
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="log in loggedWorkWeek">
							<td>{{ log.user.displayName }}</td>
							<td>{{ log.hours }}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Work Logged Last 30 Days</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								User
							</td>
							<td>
								Hours
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="log in loggedWorkMonth">
							<td>{{ log.user.displayName }}</td>
							<td>{{ log.hours }}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Work Logged</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped">

						<thead>
						<tr>
							<td>
								User
							</td>
							<td>
								Hours
							</td>

						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="log in loggedWork">
							<td>{{ log.user.displayName }}</td>
							<td>{{ log.hours }}</td>
						</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</section>
