.upload{
    border: 1px solid  #eeeeee;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.issue-sidebar{
    padding-top: 20px;
}

/*select {*/
    /*padding:3px;*/
    /*margin: 0;*/
    /*-webkit-border-radius:4px;*/
    /*-moz-border-radius:4px;*/
    /*border-radius:4px;*/
    /*-webkit-box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;*/
    /*-moz-box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;*/
    /*box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;*/
    /*background: white;*/
    /*color:#888;*/
    /*border:none;*/
    /*outline:none;*/
    /*display: inline-block;*/
    /*-webkit-appearance:none;*/
    /*-moz-appearance:none;*/
    /*appearance:none;*/
    /*cursor:pointer;*/
/*}*/

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.verticalLine {
    border-right: 1px solid #b1af9d;
}

.move-issue{
    margin-top: 17px;
}
