<section data-ng-controller="BoardsViewController">


	<div class="modal-header">
		<h3 class="modal-title">Change Column Name</h3>
	</div>

	<div class="modal-body">

		<form name="columnForm" class="form-horizontal" novalidate>

			<div class="row">
				<div class="col-md-12">

					<fieldset>
						<div class="col-md-12">
							<div class="form-group">
								<div class="controls">
									<input name="name" type="text" data-ng-model="column.name" id="name" class="form-control" placeholder="Name" required>
								</div>
							</div>
						</div>
					</fieldset>

					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>

				</div>
			</div>

		</form>

	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(columnName)">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>

</section>


<div data-ng-show="error" class="text-danger">
	<strong data-ng-bind="error"></strong>
</div>
