<section data-ng-controller="BoardsViewController">


	<div class="modal-header">
		<h3 class="modal-title">Delete Column</h3>
	</div>

	<div class="modal-body">


			<div class="row">
				<div class="col-md-12">

					<div class="col-md-12">
							<div data-ng-show="column.issues.length === 0">
								<h4>Are you sure You Want to Delete the Column?</h4>
							</div>

							<div data-ng-show="column.issues.length !== 0">
								<h4>Column Cannot Be Deleted While Tickets Are Assigned to it</h4>
							</div>
						</div>

				</div>
			</div>


	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(columnName)">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>

</section>


<div data-ng-show="error" class="text-danger">
	<strong data-ng-bind="error"></strong>
</div>
