<section data-ng-controller="BoardsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Boards</h1>
    </div>

    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search Boards" ng-model="searchBoards">

                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">

                <thead>

                <tr>
                    <td class="col-sm-5">
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
                        </a>
                    </td>

                    <td class="col-sm-1">
                        <a href="#" ng-click="sortType = 'estimate'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'estimate'" class="fa fa-caret-down"></span>
                            Created
                        </a>
                    </td>

                    <td class="col-sm-6">
                        <a href="#" ng-click="sortType = 'summary'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'summary'" class="fa fa-caret-down"></span>
                            Created By
                        </a>
                    </td>

                </tr>

                </thead>

                <tbody>
                <tr ng-repeat="board in boards | filter:searchBoards">
                    <td>
                        <a data-ng-href="#!/boards/{{board._id}}">
                            {{ board.name }}
                        </a>
                    </td>
                    <td>{{ board.created | date:'medium'}}</td>
                    <td>{{ board.user.displayName }}</td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>

</section>


<!--<div class="list-group">-->
    <!--<a data-ng-repeat="board in boards" data-ng-href="#!/boards/{{board._id}}" class="list-group-item">-->
        <!--<small class="list-group-item-text">-->
            <!--Posted on-->
            <!--<span data-ng-bind="board.created | date:'medium'"></span>-->
            <!--by-->
            <!--<span data-ng-bind="board.user.displayName"></span>-->
        <!--</small>-->
        <!--<h4 class="list-group-item-heading" data-ng-bind="board.name"></h4>-->
    <!--</a>-->
<!--</div>-->
<!--<div class="alert alert-warning text-center" data-ng-hide="!boards.$resolved || boards.length">-->
    <!--No Boards yet, why don't you <a href="/#!/boards/create">create one</a>?-->
<!--</div>-->
