<section data-ng-controller="BoardsViewController" data-ng-init="findOne()">
	<div class="">
		<a class="lead" data-ng-bind="board.name" data-ng-click="goToProject()"></a>

		<div class="">
			<button  class="btn btn-primary" ng-click="newColumn('sm')">Add Column</button>
			<a  class="btn btn-primary" href="/#!/boards/{{board._id}}/edit">Edit Board</a>
		</div>
	</div>




	<div class="row">
	<div class="overflow-wrapper">
		<div class="scroll-horizontal">


				<div class=" inline-block column col-md-3 bin" ng-controller="ItemController" droppable  drop="handleDrop(); getCurrentColumn(column)" ng-repeat="column in columns" bin="column" id="bin{{ column._id }}">

					<div class="panel panel-primary">

						<div class="panel-heading">
							<h3 class="panel-title">{{ column.name }}
								<a class="btn  pull-right"  ng-click="changeName('sm', column)">
									<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
								</a>

								<a class="btn pull-right"  data-ng-click="deleteColumn('sm', column)">
									<span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
								</a>

							</h3>

						</div>

					</div>

					<div class="theticket" ng-repeat="issue in projectIssueArray track by issue._id" ng-mousedown="getCurrentIssue(issue)" >
						<div ng-repeat="theIssue in column.issues" ng-if="issue._id == theIssue._id">

							<div class="item ticket"   id="item{{ issue._id }}"  draggable item="issue">
								<div class="panel"  ng-class="{'panel-primary': issue.issueType == 'Coding', 'panel-success': issue.issueType == 'Testing', 'panel-info': issue.issueType == 'Documentation', 'panel-warning': issue.issueType == 'Analysis', 'panel-default': issue.issueType == 'Design', 'panel-danger': issue.issueType == 'Bug'}">
									<div class="panel-heading">
										<a class="ticket-link" data-ng-href="#!/issues/{{issue._id}}">
											<h3 class="panel-title"><strong>{{issue.name}}</strong></h3>
										</a>
									</div>
									<div class="panel-body" >
										<strong class="">Type:</strong> <span class="">{{issue.issueType}}</span>
										<br/>
										<strong class="">Summary:</strong> <span style="word-wrap: normal">{{issue.summary}}</span>
										<br/>
										<strong class="">Priority:</strong> <span class="">{{issue.priority}}</span>
									</div>
								</div>

							</div>
						</div>
					</div>


				</div>



			</div>
		</div>
	</div>


</section>
